# THE FOLLOWING VALUES ARE PLACEHOLDERS INTENDED AS AN EXAMPLE. TO USE:
# - copy this file and rename to .env 
# - fill out the placeholders with the appropriate values for the given service after sign up

PORT=
MONGODB_CONNECTION_STRING=
